*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.idea/codeStyleSettings.xml
.idea/gradle.xml
.idea/misc.xml
.idea/modules.xml
.idea/runConfigurations.xml
.idea/vcs.xml
app/.gitignore
app/build.gradle
app/release/
app/src/androidTest
app/src/test
build.gradle
gradle.properties
gradle/
gradlew
gradlew.bat
settings.gradle